.tableHoverItem img {
	margin-left:5px;
	cursor:pointer;
	width: 18px;
	height: 18px;
}
.tableHoverImgs {
	float:right;
/* 	position:absolute; */
}
.cellWrapper {
	position: relative;
	width: 100%;
	height: 100%;
}
td {
/* 	position:relative; */
}

#tableWrapper .dataTables_length {
	float: right;
	margin-left: 5px;
	margin-right: 5px;
}
#tableWrapper .dataTables_filter {
	margin-right: 7px;
}
.sparqlQueryDiv {
	float:left;
	margin-left: 10px;
}