#laundryBasketTable_wrapper .dataTables_length {
	margin-left: 10px;
	margin-top:5px;
}

#laundryBasketTable_wrapper .sparqlQueryDiv {
	float:left;
}
#laundryBasetTable_wrapper td {
	word-wrap: break-word;
	word-break: break-all;
}
.tooltip-inner {
	max-width: inherit !important;
}

/**
disable some sorting/filtering features:
**/
#laundryBasketTable_filter {
	display:none;
}
.sorting_asc {
	background:inherit !important;
}
.urlCol {
	 -ms-word-break: break-all;
     word-break: break-all;

     /* Non standard for webkit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
    -ms-hyphens: auto;
        hyphens: auto;
}
.statusCol {
	text-align: center;
}