#barChartContentLength .bar {
  fill: orange;
  cursor:default;
}

#barChartContentLength .bar:hover {
  fill: orangered ;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}
#barChartContentLength {
	padding-top: 25px;
}