
#degreeDist .bar {
  fill: steelblue;
}
#degreeDist {
	width: 100%;
}
#degreeDist .bar:hover {
  fill: brown;
}

#degreeDist .axis {
  font: 10px sans-serif;
}

#degreeDist .axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#degreeDist .x.axis path {
  display: none;
}
#degreeDist .sparqlBtn {
	margin-top: -40px;
}
#degreeDist .x .tick {
	visibility:hidden;
}