.blocky {
  font-size: 18px;
  margin-top: 25px;
}

.stack-of-cards {
  max-width: 750px;
  width: 85%
}

.card {
  display: table;
  margin: 25px;
}

.card-image {
  float: left;
  max-height: 160px;
  max-width: 250px;
  vertical-align: middle;
}

.card-image img {
  border-radius: 90px;
  height: 90px;
  width: 90px;
}

.card-inner {
  float: right;
  margin-left: 25px;
  vertical-align: middle;
}

.card-inner .card-title {
  font-size: 1.5em;
  font-weight: 400;
}

.card-inner .card-content {
  line-height: 1.3em;
}

.tableHoverItem img {
	margin-left:5px;
	cursor:pointer;
	width: 18px;
	height: 18px;
}
#wardrobeTable_filter {
	display:none;
}
.tableHoverImgs {
	float:right;
/* 	position:absolute; */
}
.cellWrapper {
	position: relative;
	width: 100%;
	height: 100%;
}
td {
/* 	position:relative; */
}

#tableWrapper .dataTables_length {
	float: right;
	margin-left: 5px;
	margin-right: 5px;
}
#tableWrapper .dataTables_filter {
	margin-right: 7px;
}
.sparqlQueryDiv {
	float:left;
	margin-left: 10px;
}
.md5 {
	display:none;
}
.tooltip-inner {
	max-width: inherit !important;
}
#laundryBasetTable_wrapper td {
	word-wrap: break-word;
	word-break: break-all;
}
.tripleCol {
text-align: right;	
}
th.tripleCol  {
	text-align: center;
}
th.buttonCol {
	text-align: center;
}
td.buttonCol {
	text-align: center;
}
.dataTables_filter {
	height: 35px;
}
#wardrobeTable a.disabled {
	cursor: default;
	pointer-events: auto;
}
.urlCol {
	 -ms-word-break: break-all;
     word-break: break-all;

     /* Non standard for webkit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
    -ms-hyphens: auto;
        hyphens: auto;
}
.showCustomSelect .defaultButtons {
    display:none;   
}
.showCustomSelect #pageHeader {
	display:none;
}
.showCustomSelect .jumbotron {
	display:none;
}
.customSelect {
    display: none;
}
.showCustomSelect .customSelect {
	display: table-cell;
}
#urlFilter {
	width: 300px;
}
